/* footer */

.footer {
  background-color: var(--very-dark-blue);
}

.footer__container {
  width: 90%;
  text-align: center;
}

.footer__logo {
  margin: 0 auto;
}

.footer__list {
  padding: 0;
  list-style: none;
  margin: 1.5rem 0;
}

.footer__link {
  display: inline-block;
  padding: 1rem 0;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__media {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  place-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__list {
    display: flex;
    gap: 1rem;
    margin: 0;
    margin-left: 3rem;
  }

  .footer__media {
    margin-left: auto;
  }
}
