.scrapp-container {
  background-color: var(--soft-blue);
}
.scrapped-results {
  max-width: 400px;
}
.scrapped-results p {
  color: white;

  margin-top: 1rem;
}
.links-scrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 580px;
  overflow-y: scroll;
}
.links-scrapped .list {
  border-radius: 10px;
  height: auto;
  width: 29%;
  margin: 1rem;
  padding: 1rem;
  list-style: none;
  background-color: var(--soft-card-view);
  overflow: hidden;
  box-shadow: -2px 2px 3px var(--grayish-blue);
}
.links-scrapped li:hover {
  box-shadow: -5px 4px 5px var(--grayish-blue);
}

.pagination{
  margin: 10px 0;
}

.pagination .pagination__list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-left: 0;
}

.pagination__list .pagination__number{
  list-style: none;
  margin: 0 5px;
}

.pagination__button{
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: var(--soft-red);
  color: white;
}
.pagination__button:hover{
  background-color: #ec2626;
}

.pagination__button--active{
  background-color: #ec2626;
}

.text-scrapped {
  text-decoration: none;
  color: var(--grayish-blue);
}

.buttonload {
  background-color: var(--soft-red);
  border: none;
  color: white;
  padding: 12px 16px;
}
button .hide {
  display: none;
}
button .show {
  display: block;
}
#exportToExcel {
  cursor: pointer;
}
#scrapped {
  display: flex;
  flex-direction: row;
}
.detail {
  background-color: var(--soft-card-view);
  padding: 0.5rem;
  border-radius: 20px;
  font-weight: bold;
  width: 280px;
  box-shadow: -0px 2px 3px var(--grayish-blue);
}
.red {
  background-color: var(--soft-red);
}


@media screen and (min-width: 768px) {
  .pagination .pagination__list{
    padding-left: 40px;
  }
}


.red:hover {
  background-color: var(--grayish-blue);
}
.error--message {
  color: var(--soft-card-view);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 25px;
}

@media (max-width: 900px) {
  #scrapped {
    margin: auto;
    max-width: 400px;
    flex-direction: column;
  }
  .scrapped-results {
    width: 90%;
    margin: auto;
  }

  .links-scrapped .list {

  .links-scrapped {
    margin-left: -20px;
    max-width: 100%;
  }
  .links-scrapped li {
    width: 100%;
    margin: 0.5rem;
    padding: 1rem;
  }
  .detail {
    width: 100%;
  }
}
