.scrapp-container {
  background-color: var(--soft-blue);
}
.scrapped-results {
  max-width: 400px;
}
.scrapped-results p {
  color: white;

  margin-top: 1rem;
}
.links-scrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto auto auto -2rem;
}
.links-scrapped li {
  border-radius: 10px;
  height: auto;
  width: 25%;
  margin: 1rem;
  padding: 0.5rem;
  list-style: none;
  background-color: var(--soft-card-view);
}

.text-scrapped {
  text-decoration: none;
  color: var(--grayish-blue);
}

.buttonload {
  background-color: var(--soft-red);
  border: none;
  color: white;
  padding: 12px 16px;
}
button .hide {
  display: none;
}
button .show {
  display: block;
}
#exportToExcel {
  cursor: pointer;
}

#scrapped {
  display: flex;
  flex-direction: row;
}
.detail {
  background-color: var(--soft-card-view);
  padding: 0.5rem;
  border-radius: 20px;
  font-weight: bold;
}

@media (max-width: 900px) {
  #scrapped {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .scrapped-results {
    width: 90%;
    margin: auto;
  }
  .links-scrapped li {
    width: 100%;
    margin: 0.5rem;
    padding: 1rem;
  }
}
