.gallery-container {
  max-width: 1100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
  padding: 3rem 0;
}
.item {
  filter: grayscale(80%);
  border: 1px solid lightblue;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  max-width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: ease-in-out 5s;
}
.item:hover {
  filter: grayscale(0%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.scrap-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.text {
  font-size: 0.8rem;
  padding: 1rem;
  color: var(--darkTwo);
}
.product-description-container {
  margin: 3rem auto;
}
.guide {
  color: var(--darkOne);
  font-size: 2rem;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 470px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
  }
  .item {
    margin: 2rem auto;
    max-width: 90%;
  }
}
@media screen and (max-width: 870px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
  }
  .item {
    margin: 2rem auto;
    max-width: 90vw;
    width: 100%;
  }
}
