input {
  background-color: transparent;
  padding: 0.2rem;
  width: 100%;
  border: 1px solid var(--hoverColor);
  font-size: 1rem;
  border-radius: 0.8rem;
}
input:focus {
  border: 1px solid var(--mainColor);
}
.links-scrapped a {
  color: var(--darkOne);
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.links-scrapped a:hover {
  color: var(--hoverColor);
}
.scrapp-container {
  max-width: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.scrapped-results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.form-scrapper {
  background-color: black;
}
