body {
  font: 1.3rem sans-serif #333;
}
.section-scraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.button {
  width: 100%;
  height: 1.2rem;
  border: none;
  background-color: green;
}
.button:hover {
  color: #fff;
  background-color: #222222;
}
